<div *ngIf="estado == 200" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
  <div class="flip-card" *ngFor="let i of indicadores" fxFlex="calc(15%-25px)" fxFlex.sm="calc(50%-25px)">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>{{i.key | titlecase}}</h1>
      </div>
      <div class="flip-card-back">
        <p>{{i.name}}</p>
  
        <!-- <p>We love that guy</p> -->

        <p *ngIf="i.unit == 'pesos'">
           {{i.value | currency :'CLP'}}
        <p>

        <p *ngIf="i.unit == 'dolar'">
           {{i.value | currency :'US'}}
        <p>

        <p *ngIf="i.unit == 'porcentual'">
           {{i.value}}
        <p>



      </div>
    </div>
  </div>
</div>

<div *ngIf="estado !== 200">
  No existen indicadores, vuelve a intentarlo . . .
</div>