<mat-card>
    <mat-card-title>
        {{title}}
    </mat-card-title>
    <mat-card-subtitle>

        {{subtitle}}
    </mat-card-subtitle>

    <div class="mat-app-background basic-container">
        <app-prueba></app-prueba>
      </div>

      

</mat-card>